# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific files / folders
*.log
testing/
web_app/
src/data/*
src/temp_files/
src/database/*.db
src/database/*.pkl
src/database/*.json
src/database/temp/*
src/wordvec_models/index/*
src/wordvec_models/train_data/*
src/wordvec_models/tfidf_archive/*
src/wordvec_models/fasttext_archive/*
src/post_classifier/param_testing/logs/
